<template>
  <div id="allBlogs">
    <container display="flex" align-items="flex-start" min-height="auto" flex-direction="column">
      <el-container style="width: 100%; padding: 20px 0">
        <el-container direction="vertical">
          <div class="title">
            All Blog Posts
          </div>
          <div class="blogs">
            <div class="blog" v-for="blog in getAllPosts" :key="blog.id">
              <div class="blogTitle" @click="directTo(blog.id)">
                {{ blog.title }}
              </div>
              <div class="blogBody">
                {{ blog.body }}
              </div>
            </div>
          </div>
        </el-container>
        <el-aside width="300px" style="margin-left: 20px">
          <top5blogs></top5blogs>
        </el-aside>
      </el-container>
    </container>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import container from '@/components/container'
import top5blogs from '@/components/top5blogs.aside.home'
import router from '@/router'

export default {
  name: 'AllBlogs',
  components: { container, top5blogs },
  router,
  data: function () {
    return {
    }
  },
  computed: {
    ...mapGetters(['getAllPosts'])
  },
  mounted() {
    console.log(this.getAllPosts.length)
  },
  methods: {
    directTo: function (id) {
      console.log(id)
      router.push('/blog/' + id)
    }
  }
}
</script>

<style lang="scss" scoped>
#allBlogs {
  width: 100%;
}
#allBlogs {
  .title {
    width: 100%;
    display: block;
    font-size: 24px;
    margin-bottom: 20px;
  }
  .blogs {
    .blog {
      margin: 20px 0;
      max-width: 90%;
    }
    .blog {
      .blogTitle {
        font-size: 18px;
        font-weight: bold;

        &:hover {
          cursor: pointer;
        }
      }
      .blogBody {
        font-size: 16px;
      }
    }
  }
}
</style>