<template>
  <div id="wrapper">
    <container display="flex" align-items="flex-start" min-height="auto" flex-direction="column">
      <el-container style="width: 100%; padding: 20px 0">
        <el-container direction="vertical">
          <div class="blog">
            <div class="title">
              {{ this.post.title }}
            </div>
            <div class="body">
              {{ this.post.body }}
            </div>
            <div class="manage">
              <el-button type="primary" icon="el-icon-edit" circle @click="directTo"></el-button>
              <el-button type="danger" icon="el-icon-delete" circle @click="open"></el-button>
            </div>
          </div>
          <div class="comments">
            <div class="title">
              Comments
            </div>
            <div class="comment" v-for="comment in this.comments" :key="comment.id">
              <div class="body">
                {{ comment.body }}
              </div>
              <div class="name">
                Name: {{ comment.name }}
              </div>
              <div class="email">
                Email: {{ comment.email }}
              </div>
            </div>
          </div>
        </el-container>
        <el-aside width="300px" style="margin-left: 20px">
          <top5blogs></top5blogs>
        </el-aside>
      </el-container>
    </container>
  </div>
</template>

<script>
import { getPost } from '@/services/posts'
import container from '@/components/container'
import top5blogs from '@/components/top5blogs.aside.home'
import { getPostComment, deletePost } from '@/services/posts'
import router from '@/router'

export default {
  name: 'Blog',
  components: { container, top5blogs },
  router,
  data: function () {
    return {
      post: [],
      comments: []
    }
  },
  beforeMount() {
    getPost(this.$route.params.id).then(res => {
      this.post = res.data
      document.title = this.post.title
    })
    getPostComment(this.$route.params.id).then(res => {
      this.comments = res.data
    })
  },
  methods: {
    directTo() {
      router.push('/edit/' + this.$route.params.id)
    },
    open() {
      this.$confirm('This post will be permanently deleted. Continue?', 'Warning', {
        confirmButtonText: 'Delete',
        cancelButtonText: 'Cancel',
        type: 'warning'
      }).then(() => {
        deletePost(this.$route.params.id).then(res => {
          if (res.status === 200) {
            this.$message({
              type: 'success',
              message: 'Delete completed'
            })
            let inter = setInterval(function () {
              router.push({ name: 'Home' })
              clearInterval(inter)
            }, 2000)
          } else {
            this.$message({
              type: 'info',
              message: 'Something went wrong'
            })
          }
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: 'Delete canceled'
        })
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.blog {
  width: 100%;
}
.blog {
  .title {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .body {
    margin-top: 24px;
    font-size: 18px;
  }
  .manage {
    margin-top: 20px;
  }
}
.comments {
  margin-top: 30px;
}
.comments {
  .comment {
    margin: 20px;
  }
  .comment {
    .name, .email {
      color: #505050;
      font-size: 14px;
      margin: 4px 0;
    }
  }
}
</style>