<template>
  <div class="editPost">
    <container display="flex" align-items="flex-start" min-height="auto" flex-direction="column">
      <el-alert
          v-if="success"
          title="Edit success"
          type="success"
          style="margin-bottom: 20px"
          show-icon>
      </el-alert>
      <el-form ref="form" :model="form" label-width="120px">
        <el-form-item label="Title">
          <el-input v-model="form.title"></el-input>
        </el-form-item>
        <el-form-item label="Body">
          <el-input type="textarea" v-model="form.body"></el-input>
        </el-form-item>
        <el-form-item label="Author">
          <el-input v-model="form.userId"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSubmit">Update</el-button>
        </el-form-item>
      </el-form>
    </container>
  </div>
</template>

<script>
import container from '@/components/container'
import { getPost, updatePost } from '@/services/posts'
import router from '@/router'

export default {
  name: 'EditPost',
  components: { container },
  router,
  data: function () {
    return {
      form: {
        title: '',
        body: '',
        userId: ''
      },
      success: false
    }
  },
  methods: {
    onSubmit: function () {
      updatePost(this.$route.params.id, this.title, this.body, this.userId).then(res => {
        if (res.status === 200) {
          this.success = true
          let inter = setInterval(function () {
            router.push({ name: 'Home' })
            clearInterval(inter)
          }, 2000)
        }
      }).catch(error => {
        console.log(error)
      })
    }
  },
  beforeMount() {
    getPost(this.$route.params.id).then(res => {
      this.form = res.data
    })
  }
}
</script>

<style lang="scss" scoped>
.editPost {
  width: 100%;
}
</style>