<template>
  <div id="home">
    <container display="flex" align-items="flex-start" min-height="auto" flex-direction="column">
      <banner></banner>
      <el-container style="width: 100%; padding: 20px 0">
        <el-container>
          <blogs></blogs>
        </el-container>
        <el-aside width="300px" style="margin-left: 20px">
          <top5blogs></top5blogs>
        </el-aside>
      </el-container>
    </container>
  </div>
</template>

<script>
import container from '@/components/container'
import banner from '@/components/banner.home'
import blogs from '@/components/blogs.home'
import top5blogs from '@/components/top5blogs.aside.home'
import { mapActions } from 'vuex'

export default {
  name: 'Home',
  components: {
    container,
    blogs,
    banner,
    top5blogs
  },
  data: function () {
    return {
      post: {},
      isLoading: false
    }
  },
  computed: {
    ...mapActions(['fetchPosts'])
  },
  async mounted() {
    //await this.fetchPosts
  }
}
</script>

<style lang="scss" scoped>
#home {
  width: 100%;
}
</style>