<template>
<el-footer>
  <el-row type="flex" align="middle">
    <el-col>
      <span class="author">Developed by Bedirhan Yildirim &copy; {{ new Date().getFullYear() }}</span>
    </el-col>
  </el-row>
</el-footer>
</template>

<script>
export default {
  name: 'footer.theme.vue'
}
</script>

<style lang="scss" scoped>
footer {
  display: flex;
  align-items: center;

  .author {
    font-size: 12px;
  }
}
</style>