<template>
<el-header >
  <el-row>
    <el-col>
      <router-link class="logo" to="/"><h1>Blog</h1></router-link>
    </el-col>
    <el-col>
      <el-menu mode="horizontal">
        <el-menu-item>
          <router-link to="/">Home</router-link>
        </el-menu-item>
        <el-menu-item>
          <router-link to="/blogs">All Blogs</router-link>
        </el-menu-item>
        <el-menu-item>
          <router-link to="/newPost">New Post</router-link>
        </el-menu-item>
      </el-menu>
    </el-col>
  </el-row>
</el-header>
</template>

<script>
export default {
  name: 'header.theme.vue'
}
</script>

<style lang="scss" scoped>
header {
  display: flex;
  align-items: center;
}
header {
  .el-menu {
    float:  right;
    border: none!important;
  }
  .el-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .el-row {
    .logo > h1{
      color: #000000;
      transition: color .2s;

      &:hover {
        color: #9f0f0f;
      }
    }
    .el-menu {
      display: flex;
    }
    .el-menu {
      .el-menu-item {
        border: none!important;

        a {
          padding: 8px;
          color: #000000;
          transition: color .2s;

          &:hover {
            color: #9f0f0f!important;
          }
        }
      }
    }
  }
}
</style>