<template>
  <div class="banner">
    <el-carousel height="300px" direction="vertical" :autoplay="false">
      <el-carousel-item v-for="item in this.items" :key="item.id">
        <h2 class="title" @click="directTo(item.id)">{{ item.title }}</h2>
        <span class="body">{{ item.body }}</span>
      </el-carousel-item>
    </el-carousel>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import router from '@/router'

export default {
  name: 'banner.home.vue',
  data: function () {
    return {
      items: [],
      isLoading: false
    }
  },
  computed: {
    ...mapGetters(['getAllPosts'])
  },
  mounted() {
    this.items = this.getAllPosts.slice(0,4)
  },
  methods: {
    directTo: function (id) {
      console.log(id)
      router.push('/blog/' + id)
    }
  }
}
</script>

<style lang="scss" scoped>
.banner {
  width: 100%;
}
.banner {
  .title, .body {
    padding-left: 20px;
    min-width: 200px;
    width: 90%;
  }
  .title {
    text-transform: uppercase;
  }
  .body {
    margin-top: 12px;
  }
}
.el-carousel__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    &:hover {
      cursor: pointer;
    }
  }
}

.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
  background-color: #d3dce6;
}
</style>