<template>
  <div class="blogs">
    <el-row :gutter="20">
      <el-col :span="6" v-for="item in this.items.slice(0,4)" :key="item.id">
        <el-card>
          <div class="title" @click="directTo(item.id)">
            {{ item.title }}
          </div>
          <div class="body">
            {{ item.body }}
          </div>
        </el-card>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="6" v-for="item in this.items.slice(4,8)" :key="item.id">
        <el-card>
          <div class="title" @click="directTo(item.id)">
            {{ item.title }}
          </div>
          <div class="body">
            {{ item.body }}
          </div>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import router from '@/router'
import { mapGetters } from 'vuex'

export default {
  name: 'blogs.home.vue',
  data: function () {
    return {
      items: []
    }
  },
  computed: {
    ...mapGetters(['getAllPosts'])
  },
  mounted() {
    this.items = this.getAllPosts.slice(0,8)
  },
  methods: {
    directTo: function (id) {
      console.log(id)
      router.push('/blog/' + id)
    }
  }
}
</script>

<style lang="scss" scoped>
.blogs {
  width: 100%;
}
.blogs {
  .el-row {
    display: flex;
    margin-bottom: 20px;
    align-items: stretch;
  }
  .el-row {
    .el-col {

    }
    .el-col {
      .el-card {
        height: 100%;
      }
      .el-card {
        .title {
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 8px;

          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2; /* number of lines to show */
          -webkit-box-orient: vertical;

          &:hover {
            cursor: pointer;
          }
        }
        .body {
          font-size: 14px;

          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3; /* number of lines to show */
          -webkit-box-orient: vertical;
        }
      }
    }
  }
}
</style>