<template>
  <div class="top5blogs">
    <h2 class="title">Top Blogs</h2>
    <ul>
      <li v-for="item in this.items" :key="item.id" @click="directTo(item.id)">
        <span>{{ item.title }}</span>
      </li>
    </ul>
  </div>
</template>

<script>
import router from '@/router'
import { mapGetters } from 'vuex'

export default {
  name: 'top5blogs.aside.home',
  data: function () {
    return {
      items: [],
      loading: false
    }
  },
  computed: {
    ...mapGetters(['getAllPosts'])
  },
  created() {
    this.items = this.getAllPosts.slice(4,9)
  },
  methods: {
    directTo: function (id) {
      console.log(id)
      router.push('/blog/' + id)
    }
  }
}
</script>

<style lang="scss" scoped>
.top5blogs {

}
.top5blogs {
  .title {
    font-size: 18px;
    line-height: 1.5;
    font-weight: normal;
    text-transform: uppercase;
  }
  ul {
    width: 100%;
    margin-top: 12px;
  }
  ul {
    li {
      padding: 4px 0;
      margin: 4px 0;
    }
    li {
      span {
        text-transform: capitalize;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
</style>