<template>
  <el-container direction="vertical" id="app">
    <HeaderTheme></HeaderTheme>
    <el-container>
      <router-view/>
    </el-container>
    <FooterTheme></FooterTheme>
  </el-container>
</template>

<script>
import HeaderTheme from '@/themes/header.theme'
import FooterTheme from '@/themes/footer.theme'
export default {
  name: 'App',
  components: { HeaderTheme, FooterTheme }
}
</script>

<style lang="scss">
a.router-link-exact-active.router-link-active {
  color: #700a0a !important;
}
</style>
